.z_yihuafour{
	width: 100%;
}
.yhjthuadong ul li{
	letter-spacing: 0.02rem;
}
@font-face{
    font-family: fztysj;
    src: url('fztysj.TTF');
}
.z_fourWord{
	width: 70%;
	height: auto;
	margin: 0 auto;
}
.z_fourWord li{
	width: 25%;
	text-align: center;
}
.z_yihuajtImg{
	width: 97%;
	height: auto;
	margin: 0 auto;
	margin-top: 0.3rem;
}
.z_yihuajtImgJiao{
	width: 94%;
	height: auto;
	margin: 0 auto;
	margin-top: 0.3rem;
}
.m-maincont {
	background-image: url(http://www.yhjtcity.com/static/index/m_img/maidianBg.jpg);
}
.yhjthuadong ul li{
	padding-bottom: 4rem;
	background-color: white;
	display: none;
}
.z_topImgBox{
	width: 100%;
	height: auto;
	position: relative;
}
.z_topImgBoxImg{
	width: 100%;
	height: auto;
}
.z_topImgTitle{
	font-size:0.56rem ;
	text-align: center;
	position: absolute;
	top: 1.2rem;
	color: white;
	font-family: fztysj;
	text-align: center;
	width: 100%;
}
.z_topImgCenter{
    width:85%;
    height: auto;
    margin: 0 auto;
    font-size: 0.31rem;
    color: #c9b27c;
    letter-spacing: 0.02rem;
	position: absolute;
	left: 7.5%;
	top: 2.1rem;
	text-align: center;
}
.z_topImgCenterL1{
	width: 12%;
	display: block;
	height: 0.03rem;
	background-color: #C9B27C;
	position: absolute;
	left: 0;
	top: 0.15rem;
}
.z_topImgCenterL1Ci{
	width: 0.1rem;
	height: 0.1rem;
	display: block;
	position: absolute;
	right: 0;
	top: -0.03rem;
	background-color: #C9B27C;
	border-radius: 50%;
}
.z_topImgCenterL2{
	width: 12%;
	display: block;
	height: 0.03rem;
	background-color: #C9B27C;
	position: absolute;
	right: 0;
	top: 0.15rem;
}
.z_topImgCenterL2Ci{
	width: 0.1rem;
	height: 0.1rem;
	display: block;
	position: absolute;
	left: 0;
	top: -0.03rem;
	background-color: #C9B27C;
	border-radius: 50%;
}

.z_topImgBoxMiao{
	width: 85%;
	height: auto;
	font-size: 0.30rem;
	text-align: center;
	padding: 0.1rem 0.2rem;
	position: absolute;
	top: 2.6rem;
	background-color: #C9B27C;
	left: 3.75%;
	color: white;
}
.z_jtzpxx{
	background-image: none;
	width: 100%;
	margin-bottom: 1.2rem;
	margin-top: 1.2rem;
}
