<!--后台新闻管理-->
<ul class="bread">
    {if session('id') == 1}
    <li><a href="{:url('admin/index/index')}?tid=1" class="icon-home"> 首页</a></li>
    {else}
    <li><a href="javascript:;" class="icon-home"> 首页</a></li>
    {/if}
    <li><span>新闻管理</span></li>
</ul>
<div class="admin">
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 新闻列表</strong></div>
    <div class="padding border-bottom">
        <button type="button" class="button border-yellow" onclick="window.location.href='{:url('admin/index/add')}'"><span class="icon-plus-square-o"></span> 添加新闻</button>
        <button type="button" class="button border-blue" onclick="window.location.href='{:url('admin/index/updindex')}'">修改新闻中心背景图及标题</button>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="100">新闻名称</th>
            <th width="100">分类</th>
            <!-- <th width="60">主页显示</th>
            <th width="60">热门</th>
            <th width="60">推荐</th> -->
            <th width="150">标签</th>
            <th width="80">新闻来源</th>
            <th width="80">编写者</th>
            <th width="80">修改者</th>
            <th width="150">首页图片</th>
            <th width="200">内容描述</th>
            <th width="100">编写时间</th>
            <th width="100">更新日期</th>
            <th width="160">操作</th>
        </tr>
        {if empty($data)}
        <tr><td colspan="7" style="color: red;height: 50px;font-size: 17px;"> 当前无任何内容 ! </td></tr>
        {else}
        {volist name="data" id="vo"}
        <tr>
            <td>{$vo.title}</td>
            <td>
            {switch name="vo.fenlei"}
            {case value="2"}行业新闻{/case}
            {case value="1"}公司新闻{/case}
            {/switch}
            </td>
            <!-- <td>{$vo.zhuye}</td>
            <td>{$vo.paihang}</td>
            <td>{$vo.tuijin}</td> -->
            <td>{$vo.tab}</td>
            <td>{$vo.come}</td>
            <td>{$vo.is_see}</td>
            <td>{$vo.is_see1}</td>
            <td><img src="{$vo.img1}" alt="" width="120" height="50" /> </td>
            <td>{:mb_substr($vo.miaosu, 0, 30)} . . .</td>
            <td>{$vo.date_time|date="Y-m-d H:i",###}</td>
            <td>{$vo.time|date="Y-m-d H:i",###}</td>
            <td>
                <div class="button-group">
                    <a type="button" class="button border-main" href="{:url('admin/index/edit')}?id={$vo.id}"><span class="icon-edit"></span>修改</a>
                    <a class="button border-red" href="javascript:void(0)" onclick="return del({$vo.id})"><span class="icon-trash-o"></span> 删除</a>
                </div>
            </td>
        </tr>
        {/volist}
            <tr>
                <td colspan="12">
                    <div class="pagelist">
                        {if !empty($count)}
                        <span style="color: #00A2E8;font-size: 14px;">共 <b style="color: red"> {$count} </b> 条数据</span>
                        {else}
                        <span style="color: #00A2E8;font-size: 14px;">共 <b style="color: red"> 0 </b>条数据</span>
                        {/if}
                        {if input('param.page/d') > 1}
                        <a href="?page={:input('param.page/d') - 1}"  class="last">上一页</a>
                        {else}
                        <a href="?page=1"  class="last">上一页</a>
                        {/if}
                        {for start="1" end="$pageNum+1"}
                        <a href="?page={$i}">{$i}</a>
                        {/for}
                        {if input('param.page/d') < $pageNum}
                        <a href="?page={:input('param.page/d') + 1}"  class="lest">下一页</a>
                        {else}
                        <a href="?page={$pageNum}" class="lest">下一页</a>
                        {/if}
                        <a href="?page={$pageNum}" class="list">尾页</a>
                    </div>
                </td>
            </tr>
        {/if}
    </table>
</div>
    <script src="__STATIC__/layer/layer.js"></script>
    <script src="__STATIC__/index/js/jquery-2.0.3.js"></script>
    <script type="text/javascript">
        function del(id){
            layer.confirm('您确定要删除吗？', {
                btn: ['确定','取消']
            }, function(){
                $.ajax({
                    type:"post",
                    url:"{:url('admin/Index/del')}",
                    data:{
                        id:id,
                    },
                    success:function(data){
                        var data = eval('(' + data + ')');
                        if (data.status == 1){
                            layer.msg(data.msg, {icon: 1});
                            setTimeout(function () {
                                location=location;
                            },1000)

                        }else if(data.status == 0){
                            layer.msg(data.msg, {icon: 2});
                            setTimeout(function () {
                                location=location;
                            },1000)
                        }
                    }
                });
            }, function(){
            });
        }
        function upd(id,is_see){

            $.ajax({
                type:"post",
                url:"{:url('admin/index/upd')}",
                data:{
                    id:id,
                    is_see:is_see,
                },
                success:function(data){
                    var data = eval('(' + data + ')');
                    if (data.status == 1){
                        layer.msg(data.msg, {icon: 1});
                        setTimeout(function () {
                            location=location;
                        },1000)
                    }else if(data.status == 0){
                        layer.msg(data.msg, {icon: 2});
                        setTimeout(function () {
                            location=location;
                        },1000)
                    }
                }
            });
        }
    </script>
</div>