<!--后台新闻添加-->
<link rel="stylesheet" href="__STATICA__/css/jedate.css">
<style type="text/css">
    textarea{
        resize: none;
    }
</style>
<ul class="bread">
    <li><a href="" class="icon-home"> 首页</a></li>
    <li><span>商务合作栏目</span></li>
</ul>
<div class="admin">
    <div class="panel admin-panel margin-top">
        <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>更新商务合作栏目</strong></div>
        <div class="body-content">
            <form method="post" class="form-x" action="{:url('admin/Index/upd')}" enctype="multipart/form-data">
                <input type="hidden" name="id"  value="" />
                <!--首页模块-->
                <div class="form-group">
                    <div class="label">
                        <label>背景标题 <span style="color:red">*</span>：</label>
                    </div>
                    <div class="field">
                        <input type="text" maxlength="80"  class="input w80" name="titd" value="{$data.titd}" style="width: 50%"/>
                        <input type="hidden" name="id" value=""/>
                        <div class="tipss"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>背景图 <span style="color:red">*</span>：</label>
                    </div>
                    <div class="field" id="picInput">
                        <input type="file" name="image" value="+ 浏览上传"  style="margin-top: 10px;float: left">
                        <div style="height: 100%;width: 320px;float: left;margin-left:5px ">
                            <img src="{$data.img}" style="height: 100%;width: 320px"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情页背景标题 <span style="color:red">*</span>：</label>
                    </div>
                    <div class="field">
                        <input type="text" maxlength="80"  class="input w80" name="titd1" value="{$data.titd1}" style="width: 50%"/>
                        <input type="hidden" name="id" value=""/>
                        <div class="tipss"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情页背景图 <span style="color:red">*</span>：</label>
                    </div>
                    <div class="field" id="picInput">
                        <input type="file" name="image1" value="+ 浏览上传"  style="margin-top: 10px;float: left">
                        <div style="height: 100%;width: 320px;float: left;margin-left:5px ">
                            <img src="{$data.img1}" style="height: 100%;width: 320px"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        <button class="button bg-main icon-check-square-o" onclick="return check(this.form)">提交修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/index/js/jquery-2.0.3.js"></script>