<!DOCTYPE html> {__NOLAYOUT__}
<html>
	<head>
		<meta charset="utf-8" />
		<title>{$home['title']}</title>
		<meta name="keywords" content="{$home['keywords']}" />
		<meta name="description" content="{$home['desc']}" />
		<style>
			.yhjthuadong img{
				width:100%;
				height:auto;
			}
		.box{
		    width: 80%;
		    height: 100%;
		}
		.boxs{
			width:2.82rem;
			height:2.82rem;
			display:inline-block;
			cursor: pointer;
		}
		</style>
	</head>
	<link rel="stylesheet" href="__STATICI__/m_css/m_index.css" />
	<link rel="stylesheet" href="__STATICI__/m_css/m_main.css" />
	<link rel="stylesheet" href="__STATICI__/m_css/anmition.css" />
	<link rel="stylesheet" href="__STATICI__/m_css/m_yihuajt.css" />
	<link rel="stylesheet" href="__STATICI__/m_css/swiper.min.css" />
	<link rel="stylesheet" href="__STATIC__/layer/skin/default/layer.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="text/javascript" src="__STATICI__/m_js/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="__STATICI__/m_js/m_index.js"></script>
	<script type="text/javascript" src="__STATICI__/m_js/swiper.js"></script>
	<script type="text/javascript" src="__STATIC__/layer/layer.js"></script>

	<body>
		<div class="m-header">
			<div class="hdlog row">
				<a href="{:URL}">
					<img src="{$home.img1}" height="100%" alt="中环国际公司logo"/>
				</a>
				<span class="headponnum">|&nbsp;&nbsp;{$tel.titd}</span>
			</div>
			<div class="headnav column">
				<div class="test">  
				    <ul class="navul row">  
			            <li class="navli"><a href="/">首页</a><span class="z_rightXian">|</span></li>
			            <li class="navli navlip"><a href="#">益华集团 </a>  
		                    <ul class="navtt">  
	                            <li class="navli navlip"><a id="ttmain" href="/yihuajituanjs.html">{$con1.0.title}</a></li> 
	                            <li class="navli navlip"><a id="ttmain" href="/yihuajituanxm.html">{$con1.1.title} </a></li>  
	                            <li class="navli navlip"><a id="ttmain" href="/yihuajituanzgs.html">{$con1.2.title} </a></li>  
		                    </ul>  
		                    <span class="z_rightXian">|</span>
		            	</li> 
		            	<li class="navli navlip"><a href="#">中环国际</a>  
		                    <ul class="navtt">  
	                            <li class="navli navlip"><a id="ttmain" href="/zhuzhai.html">住宅 </a></li>
								<li class="navli navlip"><a id="ttmain" href="/shangpu.html">商铺 </a></li>
								<li class="navli navlip"><a id="ttmain" href="/rxhx.html">热销户型 </a></li>
								<li class="navli navlip"><a id="ttmain" href="/pics.html">相册展示 </a></li>
		                    </ul>  
		                    <span class="z_rightXian">|</span>
		            	</li>  
						<li class="navli navlip"><a href="/xwzx/fid/2.html">新闻中心 </a><span class="z_rightXian">|</span></li>
		                <li class="navli navlip"><a href="/yihuajituanzp.html">{$con1.3.title}</a><span class="z_rightXian">|</span></li>
		                <li class="navli navlip"><a href="/lianxiwomen.html">商务合作</a><span class="z_rightXian">|</span></li>
				    </ul>  
				</div>
			</div>
		</div>

		<div class="m-newscont column">
			<div class="box" style="text-align: left;" id="layer-photos-demo">
				<br><p style="text-align:center">相册展示</p><br>
				{volist name="data" id="vo"}
			           <div class="boxs"  data-pid="{$vo.id}"><img src={if condition="$vo.picimg eq ''"}"__STATIC__/admin/img/pics.jpg"{else /}{$vo.picimg}{/if} alt="" style="width:2.82rem;height:2.82rem"><p style="text-align: center;">{$vo.name}</p>
			           </div>
			    {/volist}
		    </div>
		</div>

		<div class="m-bottom row">
			<div class="bnavitem row">
				<a href="{:URL}">
					<div class="btn-nav column">
						<img src="__STATICI__/m_img/homicon.png" />首页
					</div>
				</a>
			</div>
			<div class="bnavitem row">
				<a href="{:URL('/bname')}">
					<div class="btn-nav column">
						<img src="__STATICI__/m_img/baonameicon.png" />特惠报名
					</div>
				</a>
			</div>
			<div class="bnavitem row">
				<a href="tel:{$baom.titd}">
					<div class="btn-nav column">
						<img src="__STATICI__/m_img/lianxiwomicon.png" /> 联系我们
					</div>
				</a>
			</div>
		</div>
		<script>
			$(function(){
				var empty = '{$empty}';
				if(empty == 1){
					layer.alert('暂无相册，敬请期待');
					return;
				}
				$('.boxs').on('click', function(){
					var id = $(this).attr('data-pid');
					
					$.getJSON('/pic',{"id":id}, function(json){
						//页面文件
						html = '<html lang="en"><head><meta charset="utf-8"><title>Swiper demo</title>';
						html += '<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">';
						html += '<style>html, body {position: relative;height: 100%;}body {background: #000;';
						html += 'font-family: Helvetica Neue, Helvetica, Arial, sans-serif;font-size: 14px;color:#000;margin: 0;padding: 0;}';
						html += '.swiper-container {width: 100%;height: 300px;margin-left: auto;margin-right: auto;}';
						html += '.swiper-slide {background-size: cover;background-position: center;}';
						html += '.gallery-top {height: 80%;width: 100%;}.gallery-thumbs {height: 20%;box-sizing: border-box;padding: 10px 0;}';
						html += '.gallery-thumbs .swiper-slide {height: 100%;opacity: 0.4;}';
						html += '.gallery-thumbs .swiper-slide-active {opacity: 1;}</style></head><body>';
						html += '<div class="swiper-container gallery-top"><div class="swiper-wrapper">';
						for(var i = 0; i<json.data.length; i++){
							html += '<div class="swiper-slide" style="background-image:url('+ json.data[i].src +')"></div>'
						}
						html += '</div><div class="swiper-button-next swiper-button-white"></div><div class="swiper-button-prev swiper-button-white"></div>';
						html += '</div><div class="swiper-container gallery-thumbs"><div class="swiper-wrapper">';
						for(var i = 0; i<json.data.length; i++){
							html += '<div class="swiper-slide" style="background-image:url('+ json.data[i].src +')"></div>'
						}
						html += '</div></div><script>';
						html += "var galleryTop = new Swiper('.gallery-top', {spaceBetween: 10,loop:true,loopedSlides: 5,navigation: {";
						html += "nextEl: '.swiper-button-next',prevEl: '.swiper-button-prev',}, });";
						html += "var galleryThumbs = new Swiper('.gallery-thumbs', {spaceBetween: 10,slidesPerView: 4,";
						html += "touchRatio: 0.2,loop: true,loopedSlides: 5,slideToClickedSlide: true,});";
						html += "galleryTop.controller.control = galleryThumbs;galleryThumbs.controller.control = galleryTop;";
						html += '</' + 'script></body></html>';
						//页面层
						layer.open({
						  type: 1,
						  title: '相册查看',
						  skin: 'layui-layer-rim', //加上边框
						  area: ['90%', '70%'], //宽高
						  content: html
						});
					}); 
				});
			});
		</script>
	</body>

</html>