<link rel="stylesheet" href="__STATICI__/css/z_youshi.css" />
<link rel="stylesheet" href="__STATICI__/css/z_yihuajituan.css" />
<script type="text/javascript" src="__STATICI__/js/vue.min.js"></script>
<script type="text/javascript" src="__STATICI__/js/vue-router.js"></script>
<style type="text/css">
	#z_main {
		background-image: url({$bg.img});
		position: relative;
	}
	.ttbody{
		width:60%;
		height:auto;
	}
</style>
<div class="t-main" id="z_main">
	<div class="clicknav">
	</div>
	<span class="z_yihua_top_title">{$con1.3.title}</span>
	<span class="z_yihua_top_xian"><img src="__STATICI__/img/jituanxian.png"/></span>
</div>
<center>
	<div class="ttbody">
		<span class="good_msg">{$con1.3.title}</span>
		<div class="z_good_xaXian"></div>
		<span class="z_good_introduce_z">{$con1.3.content}</span>
	</div>
	<div class="z_zhaoping_msg" style="display: block;">
		<div class="z_zhaoping_zhiwei">
			<ul>
			{volist name="data" id="vo"}
			<li class="row bianse bubianse guoduLeft">
				<a href="/rencaizp/pid/{$vo.id}.html" class="column" style="">
					<div class="row z_zhaopinLiPosi">
						<span class="z_zhiwei_mc">{$vo.name}</span>
						<div class="z_zhao_dan">
							<span class="z_zhao_ren">{$vo.num}</span>人
						</div>
					</div>
					<span class="z_zhao_jie">{$vo.miaosu}</span>
				</a>
			</li>
			{/volist}
			</ul>
		</div>
	</div>
</center>