<!--后台户型添加-->
<script type='text/javascript' src='__STATIC__/ckeditor/ckeditor.js'></script>
<ul class="bread">
    <li><a href="{:url('admin/index/index')}" class="icon-home"> 首页</a></li>
    <li><a href="{:url('admin/Page/index')}?tid=1&page=1">户型管理</a></li>
    <li><span>增加户型</span></li>
</ul>
<div class="admin">
    <div class="panel admin-panel margin-top" id="add">
        <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 增加户型</strong></div>
        <div class="body-content">
            <form method="post" class="form-x" action="{:url('admin/Page/insert')}" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="label">
                        <label>户型：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="title" data-validate="required:请输入标题" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>组团名称：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" name="group" value=""/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>标签：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" name="tab" value=""/>
                        <div class="tipss">关键词之间使用<span style="color:red;font-weight:600;font-size:16px;">中文逗号</span>隔开 ，请勿手动换行</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>室厅卫：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="living" data-validate="required:请输入标题" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>是否推荐：</label>
                    </div>
                    <div class="field" style="margin-top:8px">
                        <input type="radio" value="0" name="rec" checked/>否
                        <input type="radio" value="1" name="rec"/>是
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>均价（元/㎡）：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="0" name="av_price" data-validate="required:请输入标题" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>总价（万元/套）：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="money" data-validate="required:请输入标题" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>面积 (m²)：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="area" data-validate="required:请输入标题" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>赠送面积 (m²)：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w50" value="" name="sarea" data-validate="required:请输入标题" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>图片：</label>
                    </div>
                    <div class="field" id="picInput">
                        <!--<input type="text" id="url1" name="img" class="input tips" style="width:25%; float:left;"  value="" data-toggle="hover" data-place="right" data-image="" />-->
                        <input type="file" name="image" value="+ 浏览上传"  style="margin-top: 10px;float: left">
                        <!--<input class="tipss" id="addBtn" type="button" onclick="addPic1()" value="继续添加图片">-->
                        <div class="tipss">建议图片尺寸：1920*500</div></br>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>描述：</label>
                    </div>
                    <div class="field">
                        <script id="editor" type="text/plain" name="content"></script>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>所属房型：

                        </label>
                    </div>
                    <div class="field" style="margin-top: 8px;">
                        <select name="sort" id="">
                            <option value="2">两房</option>
                            <option value="3">三房</option>
                            <option value="4">四房</option>
                        </select>
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>