<link rel="stylesheet" href="__STATICA__/css/jedate.css">
<ul class="bread">
    <li><a href="" class="icon-home"> 首页</a></li>
    <li><span>首页管理</span></li>
</ul>
<div class="admin">
    <div class="panel admin-panel margin-top">
        <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加相片</strong></div>
        <div class="body-content">
            <form method="post" class="form-x" action="{:url('admin/Pics/update')}" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="label">
                    	<input type="hidden" name="pid"  value="{$id}" />
                        <label>上传图片 <span style="color:red">*</span>：</label>
                    </div>
                    <div class="field" id="pics">
                        <input type="file" name="pic" value="+ 浏览上传"  style="margin-top: 10px;float: left">
                        <div style="height: 77px;width: 225px;float: left;margin-left:5px ">
                            <img src=""/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>图片标题 ：</label>
                    </div>
                    <div class="field">
                        <input type="text" maxlength="10"  class="input w80" name="title" value="" style="width: 50%"/>
                        <div class="tipss"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>图片描述 ：</label>
                    </div>
                    <div class="field">
                        <input type="text" maxlength="30"  class="input w80" name="desc" value="" style="width: 50%"/>
                        <div class="tipss"></div>
                    </div>
                </div>
                <!--！！！-->
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        <button class="button bg-main icon-check-square-o" onclick="return check(this.form)">添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel admin-panel margin-top">
        <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>图片列表</strong></div>
        <div class="body-content">
            <form method="post" class="form-x" action="{:url('admin/Home/update')}" enctype="multipart/form-data">
                {volist name="pic" id="vo"}
		            <div style="height: 100%;width: 220px;float: left;margin-left:5px ">
	                    <a href="#"><img src="{$vo.url}" style="height: 220px;width: 220px"></a>
	                    <center><label>{$vo.title}&nbsp&nbsp&nbsp&nbsp&nbsp</label><a style="padding:0px;" class="button border-red" href="{:url('admin/Pics/del')}?id={$vo.id}"><span class="icon-trash-o"></span> 删除</a>
	                    </center>
	                </div>
          		{/volist}
                
            </form>
        </div>
    </div>
</div>
<script src="__STATIC__/layer/layer.js"></script>
<script src="__STATIC__/index/js/jquery-2.0.3.js"></script>
<!--<script>-->
    <!--function check(form) {-->
        <!--if(form.title.value.trim() == '') {-->
            <!--layer.msg("请输入标题!");-->
            <!--form.title.focus();-->
            <!--return false;-->
        <!--}-->
        <!--return true;-->
    <!--}-->
<!--</script>-->